*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --tertiary-color: #9792e4;

    --white: #ffffff;
}

/* REGOLE DI DEBUG --------------------------------- */

.debug .dbg-item{
    /* background-color: #003bfd; */
}

.debug .container{
    border: 2px dotted #000000;
}

/* DEBUG HEADER ------------------------------------ */

.debug header .dbg-item{
    /* height: 75px; */
}

/* DEBUG MAIN -------------------------------------- */

.debug #planning{
    /* height: 300px; */
}

.debug #planning .card{
    background-color: #ffffff;
}

.debug .card{
    border: 2px dashed #000000;
}

/* DEBUG FOOTER ------------------------------------ */


/* REGOLE DI CSS ----------------------------------- */
/* REGOLE GENERALI --------------------------------- */



.container{
    max-width: 600px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-small{
    margin: 0 auto;
}

.content{
    margin-bottom: 2rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.card{
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    color: #000000;
}

.card p, 
.content p{
    line-height: 2rem;
}

.card-big{
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
}

section{
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.theme-cyan{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.theme-cyan p{
    color: #566979;
    font-weight: 600;
}

.theme-purple{
    background-color: var(--tertiary-color);
    color: var(--white);
}

.theme-white{
    background-color: var(--white);
    color: var(--tertiary-color);
}

.theme-white p{
    color: #000000;
}

.button-shape{
    padding: 0.5rem;
    border-radius: 50px;
}

a.button-shape, 
li a{
    text-decoration: none;
}

.button-white{
    background-color: #FFFFFF;
    color: #000000;
}

.button-blue{
    background-color: var(--primary-color);
    color: #FFFFFF;
    display: inline-block;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 2.5rem 0;
}

.button-purple{
    background-color: var(--tertiary-color);
    color: #ffffff;
}

.button-purple i{
    color: #000000;
    font-size: 1.5rem;
    padding-top: 0.25rem;
}

/* HEADER ------------------------------------------ */

header{
    /* height: 75px; */
    padding: 1rem 0;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#logo{
    height: 40px;
}

header ul{
    display: none;
}

header i{
    color: #FFFFFF;
}


/* MAIN -------------------------------------------- */

main{
    padding-top: 100px;
}

/* INTRO SECTION ----------------------------------- */

#intro{
    padding-top: 0;
}

#intro .card{
    margin-bottom: 1.5rem;
}

#intro .card:not(:first-child) i{
    font-size: 5rem;
    margin-bottom: 2rem;
}

#intro .card:first-child{
    padding-bottom: 0;
    text-align: left;
}

#intro .card .card-img{
    display: block;
    margin: 0 auto;
    max-width: 200px;
}


/* PLANNING SECTION -------------------------------- */


#planning .content-img{
margin: auto;
width: 100%;
margin-bottom: 5.5rem;
}

#planning .card-big img{
    width: 100%;
    margin: auto;
}

#planning .card-big a{
    height: 3rem;
    width: 3rem;
    display: inline-block;
    margin-top: 2rem;
}

/* TESTIMONIALS SECTION ---------------------------- */

#testimonials{
    text-align: center;
}

/* BENEFITS SECTION */

#benefits{
    text-align: center;
    background-color: var(--tertiary-color);
}

#benefits .card{
    margin-bottom: 2rem;
    text-align: left;
}

/* ABOUT-US SECTION */

#about-us .section-text p{
    margin-bottom: 3rem;
}

/* START-NOW SECTION */

#start-now{
    background-color: var(--tertiary-color);
    text-align: center;

}

/* FOOTER ------------------------------------------ */

footer{
    background-color: #333333;
    text-align: center;
    padding: 2.5rem 0;
}

footer .container div:first-of-type{
    margin-bottom: 4rem;
}

/* MEDIA QUERY ------------------------------------- */

@media screen and (min-width: 768px){  
    .container{
        max-width: 730px;
        padding: 0;
    }
    
    .container-small{
        max-width: 460px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    
    #intro .cards{
        margin: -0.75rem;
    }

    #intro .card{
        width: calc((100% / 3) - 1.5rem);
        margin: 0.75rem;
    }
    
    #intro .card:first-child{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc((100% / 3 * 2) - 1.5rem);
    }

    #intro .card .card-img{
        margin: 0;
    }

    /* TESTIMONIALS SECTION */

    #testimonials .card{
        display: flex;
        text-align: left;
    }

    #testimonials .card .card-text{
        margin-left: 32px;
    }

    /* BENEFITS SECTION */

    #benefits .card{
        width: calc(50% - 2rem);
        margin: 1rem 1rem;
    }

    #benefits .cards{
        margin: -1rem;
    }

    /* ABOUT-US SECTION */

    #about-us .container{
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #about-us .section-text{
        width: calc(60% - 5rem);
        margin-right: 5rem;
    }

    #about-us .profile{
        width: 40%;
    }

    footer .container{
        width: 460px;
    }
}

@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }

    /* HEADER */
    header ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }

    header li{
        margin: 0 0.5rem;
    }

    header li a{
        color: #FFFFFF;
        padding: 0.5rem;
    }
    
    header i.fa-solid{
        display: none;
    }

    /* INTRO SECTION */

    #intro .card:first-child{
        flex-direction: row;
        justify-content: flex-start;
    }

    #intro .card .card-text{
        margin-right: 4rem;
    }

    #intro .card .card-img{
        align-self: flex-end;
    }

    /* PLANNING SECTION */

    #planning .container{
        display: flex;
        align-items: flex-end;
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    #planning .content{
        margin-right: 4rem;
    }

    #planning .content, 
    #planning .card{
        width: calc(50% - 20px);
    }

    #planning .card-big,
    #planning .content{
        margin-bottom: 0;
    }

    #planning .content-img{
        margin-bottom: 8rem;
    }

    /* ABOUT-US SECTION */

    #about-us .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #about-us .section-text{
        width: calc(60% - 6.5rem);
        margin-right: 6.5rem;
    }

}

/* ANIMAZIONI -------------------------------------- */


