*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: #0084fd;
    --secondary-color: #b5ddff;
    --tertiary-color: #9792e4;
}

/* REGOLE DI DEBUG --------------------------------- */

.debug .dbg-item{
    background-color: #003bfd;
}

/* DEBUG HEADER ------------------------------------ */

.debug header .dbg-item{
    height: 75px;
}

/* DEBUG MAIN -------------------------------------- */

.debug #planning{
    /* height: 300px; */
}

.debug #planning .card{
    background-color: #ffffff;
}

/* DEBUG FOOTER ------------------------------------ */


/* REGOLE DI CSS ----------------------------------- */
/* REGOLE GENERALI --------------------------------- */

.container{
    max-width: 600px;
    margin: 0 auto;
}

.content{
    margin-bottom: 2rem;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.card{
    text-align: center;
    padding: 2rem;
}

.card-big{
    padding: 2rem 1.5rem;
}

section{
    padding-top: 4rem;
    padding-bottom: 5rem;
}


/* HEADER ------------------------------------------ */

header{
    height: 75px;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}



/* MAIN -------------------------------------------- */

main{
    padding-top: 100px;
}

/* INTRO SECTION ----------------------------------- */

#intro{
    padding-top: 0;
}

#intro .card{
    margin-bottom: 1.5rem;
}

#intro .card:first-child{
    padding-bottom: 0;
    text-align: left;
}

#intro .card .card-img{
    text-align: center;
}

/* PLANNING SECTION -------------------------------- */

#planning{
    background-color: var(--tertiary-color);
}

#planning .content-img{
    text-align: center;
}



/* intro SECTION ----------------------------------- */


/* FOOTER ------------------------------------------ */


/* MEDIA QUERY ------------------------------------- */

@media screen and (min-width: 768px){
    .container{
        max-width: 730px;
    }
    
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #intro .card{
        width: calc((100% / 3) - 3rem);
        margin: 1.5rem;
    }
    
    #intro .card:first-child{
        width: calc((100% / 3 *2) - 3rem);

    }

    #intro .card .card-img{
        text-align: left;
    }
}

@media screen and (min-width: 992px){
    .container{
        max-width: 960px;
    }

    /* INTRO SECTION */

    #intro .card:first-child{
        display: flex;
    }

    /* PLANNING SECTION */

    #planning .container{
        display: flex;
        align-items: flex-end;
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }

    #planning .content, 
    #planning .card{
        width: 50%;
    }

}

/* ANIMAZIONI -------------------------------------- */


